name: ci_check

on:
  push:
    branches: |
      latest
      stable

  pull_request:
    branches: |
      latest
      stable

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        c_compiler: [gcc, clang, cl]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
        exclude:
          - os: windows-latest
            c_compiler: gcc
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl

    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Update Packages (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get update

      - name: Install Packages (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get install xorg-dev libasound2-dev

      - name: Go tidy
        run: go mod tidy

      - name: Make Ci_Check
        run: make ci_check
